# Python / Virtual Environment
venv/
env/
ENV/
*.venv/
__pycache__/
*.py[cod]

# Django local database & media
db.sqlite3
media/

# Environment variables / Secrets
.env

# Logs and system files
*.log
.DS_Store
